MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_USER=lguser
MYSQL_PASSWORD=lgpassword

JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=ssinghayu98@gmail.com
MAIL_PASSWORD=Archie3113

FRONTEND_URL=http://localhost
VITE_API_URL=http://localhost:8080
